# Root dockerignore
.git
node_modules
**/node_modules
.pnpm-store
.pnpm
.next
**/.next
out
.turbo
**/dist
**/build
**/coverage
.vscode
.DS_Store
Thumbs.db
**/.playwright
**/playwright-report
**/test-results
!pnpm-lock.yaml
